* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    margin-left: -8px;
    margin-top: -15px;
    min-height: 100vh;
    overflow-x: hidden;

}

.container {
    position: relative;
    width: 100%;
}


.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
    grid-gap: 30px;
    /* margin-top: 10px; */
}

.details .recentOrders {
    position: relative;
    display: grid;
    min-width: 500px;
    background: white;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 10px;
}

.cardHeader h2{
    font-weight: 600;
    color: #287bff;
}

.btn {
    position: relative;
    padding: 5px 10px;
    background: #287bff;
    text-decoration: none;
    color: white;
    border-radius: 6px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td {
    font-weight: 600;
}

.details .recentOrders table tr {
    color: rgb(19, 18, 18);
    border-bottom: 1px solid rgb(228, 228, 228);
}

.details .recentOrders table tr:last-child {
    border-bottom: none;
}

.details .recentOrders table tbody tr:hover {
    background: #287bff;
    color: white;
}

.details .recentOrders table tr td {
    padding: 10px;
}
.details .recentOrders table tr td:last-child {
    text-align: end;
}

.details .recentOrders table tr td:nth-child(2) {
    text-align: end;
}

.details .recentOrders table tr td:nth-child(3) {
    text-align: center;
}

.status.delivered{
    padding: 2px 4px;
    background: #8de02c;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
}

.status.pending{
    padding: 2px 4px;
    background: #f5df1c;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
}

.status.return{
    padding: 2px 4px;
    background: #ec1e1e;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
}

.status.inprogress{
    padding: 2px 4px;
    background: #b021f3;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
}

/* Responsive designing */
@media(max-width: 991px){

    .main {
        width: 100%;
        left: 0;
    }

    .main.active{
        left: 300px
    }

    .recentOrders {
        overflow-x: auto;
    }

}

@media(max-width: 768px){
    .details {
        grid-template-columns: repeat(1, 1fr);
    }

    .recentOrders {
        overflow-x: auto;
    }

    .status.inprogress {
        white-space: nowrap;
    }
}

@media(max-width: 180px){

    .main.active .toggle {
        color: #fff;
        position: fixed;
        right: 0;
        left: initial;
    }

}