        <div class="cardBox">
                    
            <div class="card">
                <div>
                    <div class="numbers">1, 504</div>
                    <div class="cardName">Daily Views</div>
                </div>
                <div class="iconBx">
                    <img src="assets/image/search.png" alt="" class="eye-outline">
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="numbers">{{count}}</div>
                    <div class="cardName">sales</div>
                </div>
                <div class="iconBx">
                    <img src="assets/image/search.png" alt="" class="eye-outline">
                </div>
            </div>

            <div class="card">
                <div >
                    <div class="numbers">253</div>
                    <div class="cardName">Comments</div>
                </div>
                <div class="iconBx">
                    <img src="assets/image/search.png" alt="" class="eye-outline">
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="numbers">{{earnings | currency: 'LKR. '}} </div>
                    <div class="cardName">Earning</div>
                </div>
                <div class="iconBx">
                    <img src="assets/image/search.png" alt="" class="eye-outline">
                </div>
            </div>
        </div>
        <div class="main">
            <div class="details">
                <!-- order details list -->
                <div class="recentOrders">
                    <p>Hardware Shop > Dashboard</p>
                    <div class="cardHeader">
                        <h2>Dashboard</h2>
                        
                        <a href="#" class="btn">View all</a>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Total </td>
                                <td>Payment</td>
                                <td>Status</td>
                            </tr>
                        </thead>
                        <tbody *ngIf="allSells">
                            <tr *ngFor="let sell of allSells" >
                                <td>{{sell.itemName}}</td>
                                <td>{{sell.total | currency: 'LKR. '}}</td>
                                <td>{{sell.payementType}}</td>
                                <td><span class="status delivered">{{sell.sts}}</span></td>
                            </tr>                   
                        </tbody> 
                    </table>
                </div>
            </div>
        </div>