<div class="down-form-container">
    <form [formGroup]="designerRegGroup" enctype="multipart/form-data" method="post">
        <div class="down-form-center">
            <div>
                <div>
                    <label>Old Password<span class="req"> *</span></label>
                    <input type="password" formControlName="designerRegPassword" [ngClass]="{ 'is-invalid' : submitted && designerRegFormValidation.designerRegPassword.errors }"  placeholder="Enter Old Password" required>         
                    <div *ngIf="submitted && designerRegFormValidation.designerRegPassword.errors" class="invalid-feedback">
                      <div *ngIf="designerRegFormValidation.designerRegPassword.errors.required" >Password is required !</div>
                    </div>
                </div>

                <div>
                    <label>New Password<span class="req"> *</span></label>
                    <input type="password" formControlName="designerRegPassword" [ngClass]="{ 'is-invalid' : submitted && designerRegFormValidation.designerRegPassword.errors }"  placeholder="Enter New Password" required>         
                    <div *ngIf="submitted && designerRegFormValidation.designerRegPassword.errors" class="invalid-feedback">
                      <div *ngIf="designerRegFormValidation.designerRegPassword.errors.required" >Password is required !</div>
                    </div>
                </div>
        
                <div>
                    <label>Confirm New Password<span class="req"> *</span></label>
                    <input type="password" formControlName="designerRegConfirmPassword" [ngClass]="{ 'is-invalid' : submitted && designerRegFormValidation.designerRegConfirmPassword.errors }" placeholder="Re-Enter New Password" required>
                    <div *ngIf="submitted && designerRegFormValidation.designerRegConfirmPassword.errors" class="invalid-feedback">
                      <div *ngIf="designerRegFormValidation.designerRegConfirmPassword.errors.required" >Confirmation is required !</div>
                    </div>
                </div>

                <!-- <button class="btn" type="submit" >Register</button> -->
                <button class="btn" type="submit" (click)="updatePassword()">Update</button>
                <button class="btn-reset" type="reset">Reset</button>
            </div>
        </div>
    </form> 
</div>