
    <!-- Header -->
    <div class="main-container" id="skel-layers-visibleWrapper">
        <header id="header" class="skel-layers-fixed">
            <img class="logo" src="/assets/image/logo.png" alt="logo">

                <ul>
                    <li><img class="phone" src="assets/image/phone.png" alt="phone"/><span>(+94 78 303 0250)</span></li>
                    <li><img class="mail" src="assets/image/mail.png" alt="phone"/><span>sample@gmail.com</span> </li>
                </ul>

                <nav id="nav">
                    <ul>
                        <li><a routerLink="home" >Home</a></li>
                        <li><a routerLink="designers" >Designers</a></li>		
                        <li><a routerLink="shops" >Shops</a></li>								
                        <li><a routerLink="aboutus" >About Us</a></li>
                        <li><button routerLink="contactus" class="button special" >Contact</button></li>
                    </ul>
                </nav>

              <div class="container-top">
                  <div class="table-row">
                        <ul class="inline-list">
                            <li class="list-item"> <button class="list-item-button">Rated Shop</button></li>
                            <li class="list-item"> <button  class="list-item-button">Rated Designer</button></li>
                            <li class="list-item"> <button class="list-item-button">Demamded Items</button></li>
                            <li class="list-item"> <button  class="list-item-button">Demanded Designs</button></li>
                            <li class="list-item"> <a href="#"><img class="list-item-image" src="assets/image/wishlist.png" alt="wishlist"></a></li>
                            <li class="list-item"> <a href="#"><img class="list-item-image" src="assets/image/shoppingcart.png" alt="orders"></a></li>
                        </ul>
                  </div>
              </div>

            <div class="container-bottom">
                <ul class="inline-list-bottom">
                    <li class="list-item-bottom"> <a class="list-item-link" routerLink="loginsignup">Register or Sign in</a></li>
                  </ul>
            </div>
        </header>
    </div>
