<h1>All Designers</h1>
<hr />

<div class="items" *ngIf="designers.length > 0">
  <div *ngFor="let designer of designers">
    <section >
      <div class="container">
        <div class="card">
           <img src={{designer.designerRegShopPic}} class="profile-picture" alt="{{designer.designerRegShopPic}}"> 
           <span class="shop-name">{{designer.designerRegShopName}}</span>
           <div class="info-container">
            <button class="btn" (click)="goInnerPage(designer)">View</button> 
          </div>
        </div>
      </div>
    </section>
  </div>
</div> 
