<div class="down-form-container">
    <div class="top-bar">    
        <div class="header-section">
            <p class="word-nav">Hardware Shop > Add Items</p>
            <div class="cardHeader">
                <h2>Add Items</h2>   
        </div>  
        <div class="down-form-left"> <!-- class="selector" -->
            <form [formGroup]="hShopProductTopForm">
                
                <div class="category-area">
                    <div class="cardBox" *ngIf="categories.length > 0">
                        <div *ngFor="let type of categories">
                                    <a class="c-card" (click)="valueOfDropdown(type)">
                                        <div class="category">{{type}}</div>
                                    </a>
                            </div>
                    </div>
                </div>

                <input type="text" class="adding-category" formControlName="category" id="addNewCategory" placeholder="Add new category">
                <button class="btn" (click)="addNewCategory()">+</button>
                

                <div *ngIf="selectedCategory">
                    <button class="btn" (click)="addAnItem()">Create An Item</button>
                    <label >Selected Category: {{selectedCategory}}</label>
                </div>
            </form>
        </div> 
    </div>
</div>

<div class="down-form-container">
    <!-- <form enctype="multipart/form-data" method="post"> -->
    <div  *ngIf="clicked==true">
        <form [formGroup]="hShopAddProductForm" method="post">

            <div class="down-form-registering-an-item">
                <h3 class="down-form-form-section">Item Information</h3>             
                <div>
                    <label>Name<span class="req"> *</span></label>
                    <input type="text" formControlName="name" [ngClass]="{ 'is-invalid' : submitted && hShopAddingItemFormValidation.name.errors }"  placeholder="Enter Name" required>                                
                    <div *ngIf="submitted && hShopAddingItemFormValidation.name.errors" class="invalid-feedback">
                        <div *ngIf="hShopAddingItemFormValidation.name.errors.required" >Name is required !</div>
                    </div>
                </div> 
                  
                <div>
                    <label>Description<span class="req"> *</span></label>
                    <input type="text" formControlName="description" [ngClass]="{ 'is-invalid' : submitted && hShopAddingItemFormValidation.description.errors }"placeholder="Enter Description" required>                 
                    <div *ngIf="submitted && hShopAddingItemFormValidation.description.errors" class="invalid-feedback">
                        <div *ngIf="hShopAddingItemFormValidation.description.errors.required" >Description is required !</div>
                    </div>
                </div>
                <div>
                    <label>Item Availability<span class="req"> *</span></label>
                    <input type="text" formControlName="availability" [ngClass]="{ 'is-invalid' : submitted && hShopAddingItemFormValidation.availability.errors }"placeholder="Enter availability" required>                 
                    <div *ngIf="submitted && hShopAddingItemFormValidation.availability.errors" class="invalid-feedback">
                        <div *ngIf="hShopAddingItemFormValidation.availability.errors.required" >availability is required !</div>
                    </div>
                </div>
                

                <div>
                    <label>Sub Category<span class="req"> *</span></label>            
                    <input type="text" formControlName="subCategory" [ngClass]="{ 'is-invalid' : submitted && hShopAddingItemFormValidation.subCategory.errors }"  placeholder="Add sub category">

                    <div *ngIf="submitted && hShopAddingItemFormValidation.subCategory.errors" class="invalid-feedback">
                        <div *ngIf="hShopAddingItemFormValidation.subCategory.errors.required" >sub category is required !</div>
                    </div>
                </div>
               

                <div>
                    <label>Price of one quentity/piece<span class="req"> *</span></label>
                    <select formControlName="portionType" [ngClass]="{ 'is-invalid' : submitted && hShopAddingItemFormValidation.portionType.errors }" required>
                        <option value="kg">kg</option>
                        <option value="Item">Item</option>
                        <option value="Qubic Meter">Qubic Meter</option>
                        <option value="Liter">Liter</option>
                        <option value="Packet">Packet</option>
                        <option value="Bottle">Bottle</option>
                        <option value="Feet">Feet</option>
                        <option value="Meter">Meter</option>
                        <option value="SqrFt">Squre Feet</option>
                        <option value="SqrMeter">Squre Meter</option>
                    </select>

                    <div *ngIf="submitted && hShopAddingItemFormValidation.portionType.errors" class="invalid-feedback">
                        <div *ngIf="hShopAddingItemFormValidation.portionType.errors.required" >Unit is required !</div>
                    </div>
                   
                    <input type="number" formControlName="price" [ngClass]="{ 'is-invalid' : submitted && hShopAddingItemFormValidation.price.errors }" placeholder="Enter price" required>
                    <div *ngIf="submitted && hShopAddingItemFormValidation.price.errors" class="invalid-feedback">
                        <div *ngIf="hShopAddingItemFormValidation.price.errors.required" >Price is required !</div>
                    </div>
                    <div *ngIf="negativeVal">
                        <div *ngIf="negativeValField=='price'">
                            <p class="invalid-feedback" >{{negativeVal}} in {{negativeValField}}</p>
                        </div>
                    </div>
                </div>  
                <div>
                    <label>Discount Availability<span class="req"> *</span></label>
                    <div class="radio-button" >
                        <label> 
                            Yes <input type="radio" (click)="discountToggle('true')" value="true" formControlName="isDiscount" [ngClass]="{ 'is-invalid' : submitted && hShopAddingItemFormValidation.isDiscount.errors }" name="isDiscount"> 
                            No <input type="radio" (click)="discountToggle('false')"  value="false" formControlName="isDiscount" name="isDiscount" [checked]>
                        </label>             
                    </div>
                    <div *ngIf="submitted && hShopAddingItemFormValidation.isDiscount.errors" class="invalid-feedback">
                        <div>
                            <div *ngIf="hShopAddingItemFormValidation.isDiscount.errors.required" >This field is required !</div>
                        </div>
                    </div> 
                </div>
               
                <div>
                    <label>Discount<span class="req"> *</span ></label>
                    <input type="number" formControlName="discount" [ngClass]="{ 'is-invalid' : submitted && hShopAddingItemFormValidation.discount.errors }" placeholder="Enter Discount" required>
                    <div *ngIf="submitted && hShopAddingItemFormValidation.discount.errors" class="invalid-feedback">
                        <div *ngIf="hShopAddingItemFormValidation.discount.errors.required" >Discount is required !</div>
                    </div>

                    <div *ngIf="negativeVal">
                        <div *ngIf="negativeValField=='Discount'">
                            <p class="invalid-feedback" >{{negativeVal}} in {{negativeValField}}</p>
                        </div>
                    </div>
                </div>   
                  
                <div>
                    <label>QC pass<span class="req"> *</span></label>
                    <div class="radio-button">
                        <label> 
                            Yes <input type="radio" value="Yes" formControlName="isQCPass" [ngClass]="{ 'is-invalid' : submitted && hShopAddingItemFormValidation.isQCPass.errors }" name="isQCPass"> 
                            No <input type="radio" value="No" formControlName="isQCPass" name="isQCPass">
                        </label>                  
                    </div>
                    <div *ngIf="submitted && hShopAddingItemFormValidation.isQCPass.errors" class="invalid-feedback">
                        <div>
                            <div *ngIf="hShopAddingItemFormValidation.isQCPass.errors.required" >This field is required !</div>
                        </div>
                    </div> 
                </div>
    
                <div>
                    <label>Images of the design (add only images - .png, jpeg & jpg)<span class="req"> *</span></label>
                    <input type="file" (change)="onFileSelectItemImages($event)" class="upload-box" name="imagesOfItem" formControlName="imagesOfItem" placeholder="Attach design Images" required>
                    <div>                
                        <div *ngIf="itemImageDataItem">
                            <img class="profile-picture-on-login-signup" [src]="itemImageDataItem" [alt]="hShopAddProductForm.value.name">
                        </div>
                        <div *ngIf="fileTypeItemImages" class="invalid-feedback">
                            {{fileTypeItemImages}}
                        </div>
                        <div *ngIf="submitted && hShopAddingItemFormValidation.imagesOfItem.errors" class="invalid-feedback">
                            <div *ngIf="hShopAddingItemFormValidation.imagesOfItem.errors.required" >This field is required !</div>
                        </div>
                    </div>
                </div>
  
                <div *ngIf="negativeVal">
                    <p class="invalid-feedback-submit" >Error in {{negativeValField}}!</p>
                </div> 
            </div>
          
            <div class="down-form-center">               
                <button class="btn" type="submit"  (click)="submitProduct()" >Add Item</button>
                <button class="btn-reset" type="reset">Reset</button>      
            </div>
        </form>
    </div>
</div>