<div class="down-form-container">
    <div class="top-bar">         
        <div class="down-form-left"> <!-- class="selector" -->
            <form [formGroup]="hShopProductTopForm">
                
                <div class="category-area">
                    <div class="cardBox" *ngIf="categories.length > 0">
                        <div *ngFor="let type of categories">
                                    <a class="c-card" (click)="valueOfDropdown(type)">
                                        <div class="category">{{type}}</div>
                                    </a>
                            </div>
                    </div>
                </div>

                <input type="text" class="adding-category" formControlName="category" id="addNewCategory" placeholder="Add new category">
                <button class="btn" (click)="addNewCategory()">+</button>
                

                <div *ngIf="selectedCategory">
                    <button class="btn" (click)="addAnItem()">Create An Item</button>
                    <label >Selected Category: {{selectedCategory}}</label>
                </div>
            </form>
        </div> 
    </div>
</div>

<div class="down-form-container">
    <!-- <form enctype="multipart/form-data" method="post"> -->
    <div  *ngIf="clicked==true">
        <form [formGroup]="hShopAddProductForm" method="post">

            <div class="down-form-registering-an-item">
                <h3 class="down-form-form-section">Item Information</h3>             
                <div>
                    <label>Name<span class="req"> *</span></label>
                    <input type="text" formControlName="itemName" [ngClass]="{ 'is-invalid' : submitted && hShopAddingItemFormValidation.itemName.errors }"  placeholder="Enter Name" required>                                
                    <div *ngIf="submitted && hShopAddingItemFormValidation.itemName.errors" class="invalid-feedback">
                        <div *ngIf="hShopAddingItemFormValidation.itemName.errors.required" >Name is required !</div>
                    </div>
                </div> 
                  
                <div>
                    <label>Description<span class="req"> *</span></label>
                    <input type="text" formControlName="itemDescription" [ngClass]="{ 'is-invalid' : submitted && hShopAddingItemFormValidation.itemDescription.errors }"placeholder="Enter Description" required>                 
                    <div *ngIf="submitted && hShopAddingItemFormValidation.itemDescription.errors" class="invalid-feedback">
                        <div *ngIf="hShopAddingItemFormValidation.itemDescription.errors.required" >Description is required !</div>
                    </div>
                </div>
                

                <div>
                    <label>Sub Category<span class="req"> *</span></label>            
                    <input type="text" formControlName="itemSubCategory" [ngClass]="{ 'is-invalid' : submitted && hShopAddingItemFormValidation.itemSubCategory.errors }"  placeholder="Add sub category">

                    <div *ngIf="submitted && hShopAddingItemFormValidation.itemSubCategory.errors" class="invalid-feedback">
                        <div *ngIf="hShopAddingItemFormValidation.itemSubCategory.errors.required" >sub category is required !</div>
                    </div>
                </div>
               

                <div>
                    <label>Price of one quentity/piece<span class="req"> *</span></label>
                    <select formControlName="itemPortionType" [ngClass]="{ 'is-invalid' : submitted && hShopAddingItemFormValidation.itemPortionType.errors }" required>
                        <option value="kg">kg</option>
                        <option value="Item">Item</option>
                        <option value="Qubic Meter">Qubic Meter</option>
                        <option value="Liter">Liter</option>
                        <option value="Packet">Packet</option>
                        <option value="Bottle">Bottle</option>
                        <option value="Feet">Feet</option>
                        <option value="Meter">Meter</option>
                        <option value="SqrFt">Squre Feet</option>
                        <option value="SqrMeter">Squre Meter</option>
                    </select>

                    <div *ngIf="submitted && hShopAddingItemFormValidation.itemPortionType.errors" class="invalid-feedback">
                        <div *ngIf="hShopAddingItemFormValidation.itemPortionType.errors.required" >Unit is required !</div>
                    </div>
                   
                    <input type="number" formControlName="itemPrice" [ngClass]="{ 'is-invalid' : submitted && hShopAddingItemFormValidation.itemPrice.errors }" placeholder="Enter price" required>
                    <div *ngIf="submitted && hShopAddingItemFormValidation.itemPrice.errors" class="invalid-feedback">
                        <div *ngIf="hShopAddingItemFormValidation.itemPrice.errors.required" >Price is required !</div>
                    </div>
                    <div *ngIf="negativeVal">
                        <div *ngIf="negativeValField=='price'">
                            <p class="invalid-feedback" >{{negativeVal}} in {{negativeValField}}</p>
                        </div>
                    </div>
                </div>  
                <div>
                    <label>Discount Availability<span class="req"> *</span></label>
                    <div class="radio-button" >
                        <label> 
                            Yes <input type="radio" (click)="discountToggle('true')" value="true" formControlName="itemIsDiscount" [ngClass]="{ 'is-invalid' : submitted && hShopAddingItemFormValidation.itemIsDiscount.errors }" name="itemIsDiscount"> 
                            No <input type="radio" (click)="discountToggle('false')"  value="false" formControlName="itemIsDiscount" name="itemIsDiscount" [checked]>
                        </label>             
                    </div>
                    <div *ngIf="submitted && hShopAddingItemFormValidation.itemIsDiscount.errors" class="invalid-feedback">
                        <div>
                            <div *ngIf="hShopAddingItemFormValidation.itemIsDiscount.errors.required" >This field is required !</div>
                        </div>
                    </div> 
                </div>
               
                <div>
                    <label>Discount<span class="req"> *</span ></label>
                    <input type="number" formControlName="itemDiscount" [ngClass]="{ 'is-invalid' : submitted && hShopAddingItemFormValidation.itemDiscount.errors }" placeholder="Enter Discount" required>
                    <div *ngIf="submitted && hShopAddingItemFormValidation.itemDiscount.errors" class="invalid-feedback">
                        <div *ngIf="hShopAddingItemFormValidation.itemDiscount.errors.required" >Discount is required !</div>
                    </div>

                    <div *ngIf="negativeVal">
                        <div *ngIf="negativeValField=='Discount'">
                            <p class="invalid-feedback" >{{negativeVal}} in {{negativeValField}}</p>
                        </div>
                    </div>
                </div>   
                  
                <div>
                    <label>QC pass<span class="req"> *</span></label>
                    <div class="radio-button">
                        <label> 
                            Yes <input type="radio" value="Yes" formControlName="itemIsQCPass" [ngClass]="{ 'is-invalid' : submitted && hShopAddingItemFormValidation.itemIsQCPass.errors }" name="itemIsQCPass"> 
                            No <input type="radio" value="No" formControlName="itemIsQCPass" name="itemIsQCPass">
                        </label>                  
                    </div>
                    <div *ngIf="submitted && hShopAddingItemFormValidation.itemIsQCPass.errors" class="invalid-feedback">
                        <div>
                            <div *ngIf="hShopAddingItemFormValidation.itemIsQCPass.errors.required" >This field is required !</div>
                        </div>
                    </div> 
                </div>
    
                <div>
                    <label>Images of the design (add only images - .png, jpeg & jpg)<span class="req"> *</span></label>
                    <input type="file" (change)="onFileSelectItemImages($event)" class="upload-box" name="itemImagesOfItem" formControlName="itemImagesOfItem" placeholder="Attach design Images" required>
                    <div>                
                        <div *ngIf="itemImageDataItem">
                            <img class="profile-picture-on-login-signup" [src]="itemImageDataItem" [alt]="hShopAddProductForm.value.itemName">
                        </div>
                        <div *ngIf="fileTypeItemImages" class="invalid-feedback">
                            {{fileTypeItemImages}}
                        </div>
                        <div *ngIf="submitted && hShopAddingItemFormValidation.itemImagesOfItem.errors" class="invalid-feedback">
                            <div *ngIf="hShopAddingItemFormValidation.itemImagesOfItem.errors.required" >This field is required !</div>
                        </div>
                    </div>
                </div>
    <!-- 
                <div>
                    <label>Images of the design (add only images - .png, jpeg & jpg)<span class="req"> *</span></label>
                    <input type="file" (change)="onFileSelectItemImagesT($event)" class="upload-box" name="itemImagesOfItem" placeholder="Attach design Images" required>
                    <div>                
                        <div *ngIf="itemImageDataItemT">
                            <img class="profile-picture-on-login-signup" [src]="itemImageDataItemT" [alt]="hShopAddProductForm.value.designName">
                        </div>
                        <div *ngIf="fileTypeItemImagesT" class="invalid-feedback">
                            {{fileTypeItemImagesT}}
                        </div>
                    </div>
                </div> -->         
                <div *ngIf="negativeVal">
                    <p class="invalid-feedback-submit" >Error in {{negativeValField}}!</p>
                </div> 
            </div>
          
            <div class="down-form-center">               
                <button class="btn" type="submit"  (click)="submitProduct()" >Add Item</button>
                <button class="btn-reset" type="reset">Reset</button>      
            </div>
        </form>
    </div>
</div>