<div class="down-form-container">
    <div class="top-bar">
        <div class="header-section">
            <p class="word-nav">Designer Shop > Add Items</p>
            <div class="cardHeader">
                <h2>Add Items</h2>   
        </div>    
        <div class="down-form-left"> <!-- class="selector" -->
            <form [formGroup]="designerProductTopForm">
                <!-- <div id="selectField">
                    <p>Please select a category</p>
                </div>
                <ul id="list">
                    <div *ngIf="categories.length>0">
                        <div *ngFor="let type of categories">             
                            <li (click)="valueOfDropdown(type)" class="options">
                                <p >{{type}}</p>
                            </li>
                        </div>
                    </div>
                </ul>        -->

                <div class="category-area">
                    <div class="cardBox" *ngIf="categories.length > 0">
                        <div *ngFor="let type of categories">
                                    <a class="c-card" (click)="valueOfDropdown(type)">
                                        <div class="category">{{type}}</div>
                                    </a>
                            </div>
                    </div>
                </div>


                <input type="text" class="adding-category" formControlName="category" id="addNewCategory" placeholder="Add new category">        
                <button class="btn" (click)="addNewCategory()">+</button>
                
                <div *ngIf="selectedCategory">
                    <button class="btn" (click)="addAnItem()">Create An Item</button>
                    <label >Selected Category: {{selectedCategory}}</label>
                </div>
            </form>
        </div> 
    </div>
</div>

<div class="down-form-container">
    <!-- <form enctype="multipart/form-data" method="post"> -->
    <div  *ngIf="clicked==true">
        <form [formGroup]="designerAddProductForm" method="post">

            <div class="down-form-registering-an-item">
                <h3 class="down-form-form-section">Design Information</h3>
                <div>
                    <label>Name<span class="req"> *</span></label>
                    <input type="text" formControlName="name" [ngClass]="{ 'is-invalid' : submitted && designerRegFormValidation.name.errors }"  placeholder="Enter Name" required>                                
                    <div *ngIf="submitted && designerRegFormValidation.name.errors" class="invalid-feedback">
                        <div *ngIf="designerRegFormValidation.name.errors.required" >Name is required !</div>
                    </div>
                </div> 
                  
                <div>
                    <label>Description<span class="req"> *</span></label>
                    <input type="text" formControlName="description" [ngClass]="{ 'is-invalid' : submitted && designerRegFormValidation.description.errors }"placeholder="Enter Description" required>                 
                    <div *ngIf="submitted && designerRegFormValidation.description.errors" class="invalid-feedback">
                        <div *ngIf="designerRegFormValidation.description.errors.required" >Description is required !</div>
                    </div>
                </div>
     
                 <div>
                    <label>Area of the plan<span class="req"> *</span></label>
                    <input type="number" formControlName="area" [ngClass]="{ 'is-invalid' : submitted && designerRegFormValidation.area.errors }" placeholder="Enter Area of the plan in squre feet" required>
                    <div *ngIf="submitted && designerRegFormValidation.area.errors" class="invalid-feedback">
                        <div *ngIf="designerRegFormValidation.area.errors.required" >Area is required !</div>
                    </div>

                    <div *ngIf="negativeVal">
                        <div *ngIf="negativeValField=='Area of the plan'">
                            <p class="invalid-feedback" >{{negativeVal}} in {{negativeValField}}</p>
                        </div>
                    </div>
                </div>
    
                <div>
                    <label>No of floors<span class="req"> *</span></label>
                    <input type="number" formControlName="noOfFloors" [ngClass]="{ 'is-invalid' : submitted && designerRegFormValidation.noOfFloors.errors }" placeholder="No of floors" required>
                    <div *ngIf="submitted && designerRegFormValidation.noOfFloors.errors" class="invalid-feedback">
                        <div *ngIf="designerRegFormValidation.noOfFloors.errors.required" >No of floors is required !</div>
                    </div>

                    <div *ngIf="negativeVal">
                        <div *ngIf="negativeValField=='No of floors'">
                            <p class="invalid-feedback" >{{negativeVal}} in {{negativeValField}}</p>
                        </div>
                    </div>
                </div>
    
                <div>
                    <label>Estimsted Cost<span class="req"> *</span></label>
                    <input type="text" formControlName="estCost" [ngClass]="{ 'is-invalid' : submitted && designerRegFormValidation.estCost.errors }" placeholder="Enter Estimsted Cost" required>
                    <div *ngIf="submitted && designerRegFormValidation.estCost.errors" class="invalid-feedback">
                        <div *ngIf="designerRegFormValidation.estCost.errors.required" >Estimsted Cost is required !</div>
                    </div>

                    <div *ngIf="negativeVal">
                        <div *ngIf="negativeValField=='Estimsted Cost'">
                            <p class="invalid-feedback" >{{negativeVal}} in {{negativeValField}}</p>
                        </div>
                    </div>
                </div>   

                <div>
                    <label>Discount Availability<span class="req"> *</span></label>
                    <div class="radio-button" >
                        <label> 
                            Yes <input type="radio" (click)="discountToggle('true')" value="true" formControlName="isDiscount" [ngClass]="{ 'is-invalid' : submitted && designerRegFormValidation.isDiscount.errors }" name="isDiscount"> 
                            No <input type="radio" (click)="discountToggle('false')"  value="false" formControlName="isDiscount" name="isDiscount" [checked]>
                        </label>             
                    </div>
                    <div *ngIf="submitted && designerRegFormValidation.isDiscount.errors" class="invalid-feedback">
                        <div>
                            <div *ngIf="designerRegFormValidation.isDiscount.errors.required" >This field is required !</div>
                        </div>
                    </div> 
                </div>
                <!-- *ngIf="compPath=='dashboard'"  *ngIf="readOnlyToggle=='false'"-->
                <div>
                    <label>Discount<span class="req"> *</span ></label>
                    <input type="number" formControlName="discount" [ngClass]="{ 'is-invalid' : submitted && designerRegFormValidation.discount.errors }" placeholder="Enter Discount" required>
                    <div *ngIf="submitted && designerRegFormValidation.discount.errors" class="invalid-feedback">
                        <div *ngIf="designerRegFormValidation.discount.errors.required" >Discount is required !</div>
                    </div>

                    <div *ngIf="negativeVal">
                        <div *ngIf="negativeValField=='Discount'">
                            <p class="invalid-feedback" >{{negativeVal}} in {{negativeValField}}</p>
                        </div>
                    </div>
                </div>   

                  
                <div>
                    <label>Garage<span class="req"> *</span></label>
                    <div class="radio-button">
                        <label> 
                            Yes <input type="radio" value="Yes" formControlName="isGarage" [ngClass]="{ 'is-invalid' : submitted && designerRegFormValidation.isGarage.errors }" name="isGarage"> 
                            No <input type="radio" value="No" formControlName="isGarage" name="isGarage">
                        </label>                  
                    </div>
                    <div *ngIf="submitted && designerRegFormValidation.isGarage.errors" class="invalid-feedback">
                        <div>
                            <div *ngIf="designerRegFormValidation.isGarage.errors.required" >This field is required !</div>
                        </div>
                    </div> 
                </div>
    
                <div>
                    <label>Balcony<span class="req"> *</span></label>
                        <div class="radio-button">
                            <label>
                                Yes <input type="radio" value="Yes" formControlName="isBalcony" [ngClass]="{ 'is-invalid' : submitted && designerRegFormValidation.isBalcony.errors }" name="isBalcony">           
                                No <input type="radio" value="No" formControlName="isBalcony" name="isBalcony"  >
                            </label>
                        </div>
                    <div *ngIf="submitted && designerRegFormValidation.isBalcony.errors" class="invalid-feedback">
                        <div class="pricing-area">
                            <div *ngIf="designerRegFormValidation.isBalcony.errors.required" >This field is required !</div>
                        </div>
                    </div> 
                </div>
    
                <div>
                    <label>Varenda<span class="req"> *</span></label>
                       <div class="radio-button">
                            <label>
                                Yes <input type="radio" value="Yes" formControlName="isVarenda" [ngClass]="{ 'is-invalid' : submitted && designerRegFormValidation.isVarenda.errors }" name="isVarenda">                                            
                                No <input type="radio" value="No" formControlName="isVarenda" name="isVarenda"  >
                            </label>
                        </div>
                    <div *ngIf="submitted && designerRegFormValidation.isVarenda.errors" class="invalid-feedback">
                        <div class="pricing-area">
                            <div *ngIf="designerRegFormValidation.isVarenda.errors.required" >This field is required !</div>
                        </div>
                    </div> 
                </div>
    
                <div>
                    <label>No of Bed-rooms<span class="req"> *</span></label>
                    <input type="number" formControlName="noOfBedRooms" [ngClass]="{ 'is-invalid' : submitted && designerRegFormValidation.noOfBedRooms.errors }" placeholder="Enter No of Bed-rooms" required>
                    <div *ngIf="submitted && designerRegFormValidation.noOfBedRooms.errors" class="invalid-feedback">
                        <div *ngIf="designerRegFormValidation.noOfBedRooms.errors.required" >This field is required !</div>
                    </div>

                    <div *ngIf="negativeVal">
                        <div *ngIf="negativeValField=='No of Bed-rooms'">
                            <p class="invalid-feedback" >{{negativeVal}} in {{negativeValField}}</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <label>No of Bath-rooms<span class="req"> *</span></label>
                        <input type="number" formControlName="noOfBathRooms" [ngClass]="{ 'is-invalid' : submitted && designerRegFormValidation.noOfBathRooms.errors }" placeholder="Enter No of Bath-rooms" required>
                        <div *ngIf="submitted && designerRegFormValidation.noOfBathRooms.errors" class="invalid-feedback">
                            <div *ngIf="designerRegFormValidation.noOfBathRooms.errors.required" >This field is required !</div>
                        </div>

                        <div *ngIf="negativeVal">
                            <div *ngIf="negativeValField=='No of Bath-rooms'">
                                <p class="invalid-feedback" >{{negativeVal}} in {{negativeValField}}</p>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="br==true">
                        <label>Attachment of the Bath-rooms<span class="req"> *</span></label>
                        <div class="radio-button">
                            <label>
                                Yes <input type="radio" value="Yes" formControlName="isBathRoomAttached" [ngClass]="{ 'is-invalid' : submitted && designerRegFormValidation.isBathRoomAttached.errors }" name="isBathRoomAttached"  >
                                No <input type="radio" value="No" formControlName="isBathRoomAttached" name="isBathRoomAttached"  >
                            </label>
                        </div>
                    </div>
                </div>
    
                <div>
                    <label>Images of the design (add only images - .png, jpeg & jpg)<span class="req"> *</span></label>
                    <input type="file" (change)="onFileSelectDesignImages($event)" class="upload-box" name="imagesOfDesign" formControlName="imagesOfDesign" placeholder="Attach design Images" required>
                    <div>                
                        <div *ngIf="designImageDataDesign">
                            <img class="profile-picture-on-login-signup" [src]="designImageDataDesign" [alt]="designerAddProductForm.value.name">
                        </div>
                        <div *ngIf="fileTypeDesignImages" class="invalid-feedback">
                            {{fileTypeDesignImages}}
                        </div>
                        <div *ngIf="submitted && designerRegFormValidation.imagesOfDesign.errors" class="invalid-feedback">
                            <div *ngIf="designerRegFormValidation.imagesOfDesign.errors.required" >This field is required !</div>
                        </div>
                    </div>
                </div>
    <!-- 
                <div>
                    <label>Images of the design (add only images - .png, jpeg & jpg)<span class="req"> *</span></label>
                    <input type="file" (change)="onFileSelectDesignImagesT($event)" class="upload-box" name="imagesOfDesign" placeholder="Attach design Images" required>
                    <div>                
                        <div *ngIf="designImageDataDesignT">
                            <img class="profile-picture-on-login-signup" [src]="designImageDataDesignT" [alt]="designerAddProductForm.value.name">
                        </div>
                        <div *ngIf="fileTypeDesignImagesT" class="invalid-feedback">
                            {{fileTypeDesignImagesT}}
                        </div>
                    </div>
                </div> -->
                <div *ngIf="negativeVal">
                    <p class="invalid-feedback-submit" >Error in {{negativeValField}}!</p>
                </div> 
            </div>
              
          
            <div class="down-form-center">               
                <button class="btn" type="submit"  (click)="submitProduct()" >Add Item</button>
                <button class="btn-reset" type="reset">Reset</button>   
            </div>
           
        </form>
    </div>
</div>