<div>
<!-- BODY -->
  <div class="main-container">
      <div class="table-row">

<!-- Sign up section -->
        <div class="table-data-one">
          <h2 class="heading">- Signup -</h2>
<!-- tab switchig section -->
          <div class="container">
            <div class="tab">
              <ul>
                <li id="userSU" [class.color]="idSignup === 'userSU'" (click)="tabChangesignup('userSU')">Users</li>
                <li id="designerSU" [class.color]="idSignup === 'designerSU'" (click)="tabChangesignup('designerSU')">Designers</li>
                <li id="hshopSU" [class.color]="idSignup === 'hshopSU'" (click)="tabChangesignup('hshopSU')">Hardware Shop</li>
              </ul>
            </div>
          </div>

<!-- FOR USERS -->
            <div *ngIf="idSignup ==='userSU'">
              <h2 class="">Create New Account (Users)</h2>
              <p>Create your own Account</p>
               
              <form [formGroup]="userRegGroup" >
                <div>

                  <div>
                    <label for="username">Username<span class="req"> *</span></label>
                    <input type="text" formControlName="userRegUsername" placeholder="Enter Username" required>                                
                  </div> 
                  
                  <div>
                    <label for="email">Email Address<span class="req"> *</span></label>
                    <input type="email" formControlName="userRegEmail" placeholder="Enter Email" required>                 
                  </div>
                  
                  <div>
                    <label for="password">Password<span class="req"> *</span></label>
                    <input type="password" formControlName="userRegPassword" placeholder="Enter Password" required>         
                  </div>

                  <div>
                    <label for="confirm password">Confirm Password<span class="req"> *</span></label>
                    <input type="password" formControlName="userRegConfirmPassword" placeholder="Re-Enter Password" required>
                  </div>
                  
                  <div>
                    <label for="telephone">Telephone<span class="req"> *</span></label>
                    <input type="text" formControlName="userRegTelephone" placeholder="Enter Telephone" required>
                  </div>

                  <div>
                    <label for="address">Address<span class="req"> *</span></label>
                    <input type="text" formControlName="userRegAddress" placeholder="Enter Address" required>
                    <input type="text" formControlName="userRegDistrict" placeholder="Enter District" >
                  </div> 

                  <div>
                    <div class="action">
                      <a class="return-store" href="">Return to Store</a>
                    </div>
                    <button class="btn" type="submit" (click)="userRegistration()">Register</button>
                    <button class="btn-reset" type="reset">Reset</button>
                  </div>
                </div>
              </form>  
            </div>



<!-- FOR PLAN DESIGNERS -->

              <div *ngIf="idSignup ==='designerSU'">
                <h2 class="">Create New Account (Designers)</h2>
              <p>Create your own Account</p>

              <!-- <form method="post" action="" [formGroup]="userGroup">
              <div>
                
                <div class="control-wrapper">
                  <label  for="username">Username<span class="req"> *</span></label>
                  <input type="text"  id="designerUsername" >
                </div>
                
                <div class="control-wrapper">
                  <label for="email">Email Address<span class="req"> *</span></label>
                  <input type="email" id="email">
                </div>
                
                <div class="control-wrapper">
                  <label for="password">Password<span class="req"> *</span></label>
                  <input type="password" id="password" class="password">
                </div>
                
                <div class="control-wrapper">
                  <div class="action">
                    <a class="return-store" href="">Return to Store</a>
                  </div>
                  <button class="btn" type="submit">Register</button>
                  <button class="btn-reset" type="reset">Reset</button>
                </div>

              </div>
              </form> -->

              </div>



<!-- FOR HARDWARE SHOP   -->
            <div *ngIf="idSignup ==='hshopSU'">
              <h2 class="">Create New Account (Shops)</h2>
              <p>Create your own Account</p>

              <!-- <form method="post" action="" [formGroup]="userGroup">
              <div>
                
                <div class="control-wrapper">
                  <label  for="Username">Username<span class="req"> *</span></label>
                  <input type="text"  id="shopUsername">
                </div>
                
                <div class="control-wrapper">
                  <label for="email">Email Address<span class="req"> *</span></label>
                  <input type="email" id="email">
                </div>
                
                <div class="control-wrapper">
                  <label for="password">Password<span class="req"> *</span></label>
                  <input type="password" id="password" class="password">
                </div>
                
                <div class="control-wrapper">
                  <div class="action">
                    <a class="return-store" href="">Return to Store</a>
                  </div>
                  <button class="btn" type="submit">Register</button>
                  <button class="btn-reset" type="reset">Reset</button>
                </div>

              </div>
              </form> -->
            </div>
        </div>






















<!-- Login Page -->

          <div class="tabel-data-two">
            <h2 class="heading">- Login -</h2>
            <div class="container">
              <div class="tab">
                <ul>
                  <li id="userL" [class.color]="idLogin === 'userL'" (click)="tabChangelogin('userL')">Users</li>
                  <li id="designerL" [class.color]="idLogin === 'designerL'" (click)="tabChangelogin('designerL')">Designers</li>
                  <li id="shopL" [class.color]="idLogin === 'shopL'" (click)="tabChangelogin('shopL')">Hardware Shop</li>
                </ul>
              </div>
            </div>
  
            
<!-- FOR USERS -->         
            <div *ngIf="idLogin==='userL'">
              <h2 class="">Login (User)</h2>
              <p>Welcome back! Sign in to your account</p>

              <form>
                
                  <div>
                    <label for="userUsername">Username<span class="req"> *</span></label>
                    <input type="text" placeholder="Enter Username"  [(ngModel)]="userLogUsername"  name="userLogUsername" required>
                  </div>
        
                  <div>
                    <label for="userPassword">Password<span class="req"> *</span></label>
                    <input type="password" placeholder="Enter Password" [(ngModel)]="userLogPassword" name="userLogPassword" required>          
                  </div>          
                  
                  <div *ngIf="error">{{error}}</div>

                  <div>
                    <div>
                      <a class="return-store">Return to Store</a>
                    </div>
                    <button class="btn" type="submit" (click)="userLogin()">Login</button>
                    <button class="btn-reset" type="reset">Reset</button>
                  </div>

              </form>
            </div>

<!-- FOR PLAN DESIGNERS -->
 
            <div *ngIf="idLogin==='designerL'">
              <h2 class="">Login (Designers)</h2>
              <p>Welcome back! Sign in to your account</p>
<!--
              <form method="post" action="" id="customer_login" >

                <div>
                  <label for="designerUsername">Username<span class="req"> *</span></label>
                  <input type="email" formControlName="designerLogUsername" [ngClass]="{ 'is-invalid' :submitted && f.designerLogUsername.errors }" placeholder="Enter Username" [(ngModel)]="designerLogUsername" name="designerLogUsername" required>
                  <div *ngIf="submitted && f.designerLogUsername.errors" class="invalid-feedback"> 
                    <div *ngIf="f.designerLogUsername.errors.required">Username is required</div>    
                  </div>
                </div>
      
                <div>
                  <label for="designerPassword">Password<span class="req"> *</span></label>
                  <input type="password" formControlName="designerLogPassword" [ngClass]="{ 'is-invalid' :submitted && f.designerLogPassword.errors }" placeholder="Enter Password" [(ngModel)]="designerLogPassword" name="designerLogPassword" required>
                  <div *ngIf="submitted && f.designerLogPassword.errors" class="invalid-feedback"> 
                    <div *ngIf="f.designerLogPassword.errors.required">Email is required</div>    
                  </div>
                </div>          
                
                <div>
                  <div class="action">
                    <a class="return-store" href="">Return to Store</a>
                  </div>
                  <button class="btn" type="submit" (click)="designerLogin()">Login</button>
                  <button class="btn-reset" type="reset">Reset</button>
                </div>

              </form>
              -->
            </div> 



<!-- FOR HARDWARE SHOP -->
 
            <div *ngIf="idLogin==='shopL'">
              <h2 class="">Login (Shops)</h2>
              <p>Welcome back! Sign in to your account</p>
<!--
              <form method="post" action="" id="customer_login" >

                <div>
                  <label for="shopEmail">Username<span class="req"> *</span></label>
                  <input type="email" formControlName="shopLogUsername" [ngClass]="{ 'is-invalid' :submitted && f.shopLogUsername.errors }" placeholder="Enter Username" [(ngModel)]="shopLogUsername" name="shopLogUsername" required>
                  <div *ngIf="submitted && f.shopLogUsername.errors" class="invalid-feedback"> 
                    <div *ngIf="f.shopLogUsername.errors.required">Email is required</div>    
                  </div>
                </div>
      
                <div>
                  <label for="shopPassword">Password<span class="req"> *</span></label>
                  <input type="password" formControlName="shopLogPassword" [ngClass]="{ 'is-invalid' :submitted && f.shopLogPassword.errors }" placeholder="Enter Password" [(ngModel)]="shopLogPassword" name="shopLogPassword" required>
                  <div *ngIf="submitted && f.shopLogPassword.errors" class="invalid-feedback"> 
                    <div *ngIf="f.shopLogPassword.errors.required">Email is required</div>    
                  </div>
                </div>          
                
                <div>
                  <div class="action">
                    <a class="return-store" href="">Return to Store</a>
                  </div>
                  <button class="btn" type="submit" (click)="shopLogin()">Login</button>
                  <button class="btn-reset" type="reset">Reset</button>
                </div>
      
              </form>
            </div>
            -->
          </div>
      </div>
  </div>
</div> 

<!-- FOOTER -->
<div>
  <app-footer></app-footer>
</div>
