  <!-- Banner -->
<div *ngIf="designer">
  <section id="banner">
    <div >
      <img class="profile-picture-on-login-signup" src={{designer.designerRegShopPic}} alt="{{designer.designerRegShopPic}}">
    </div> 
    <div class="inner">
      <h2>{{designer.designerRegShopName}}</h2>
      <p>We build for the next generation</p>
      <div class="actions">
        <button href="contact-us.html" class="btn-on-banner ">Contact Us</button>
        <button href="#gallery" class="btn-on-banner-otr ">Rate Us</button>
        
      </div>
    </div>
  </section>

  <div class="items" *ngIf="relItems.length > 0">
    <div *ngFor="let item of relItems">
      <section >
        <div class="container">
          <div class="card">
            <div class="left-section">
              <img src={{item.designImages}} class="profile-picture" alt="{{item.designImages}}"> 
              <span class="shop-name"><font class="shop-name-topic">{{item.designName}}</font></span>           
            </div>
            <div class="right-section">
              <div class="description">
                <h2>Description</h2>
                <span>{{item.designDescription}}. With {{item.designNoOfFloors}} story(s),
                    the design is with a luxurious view and {{item.designArea}} sqr.ft. 
                    This is a {{item.designCategory}} type trending design...</span> 
              </div>
              <span>Est. Min Cost - Rs.{{item.designEstCost}}/=</span> 

              <div class="info-container">
                <button class="btn-into">View</button> 
                <button class="btn-into-ac">Add to cart</button> 
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div> 
</div>