<!-- BODY -->
  <div class="main-container">
      <div class="table-row">

<!-- Sign up section -->
        <div class="table-data-one">
          <h2 class="heading">- Signup -</h2>
<!-- tab switchig section -->
          <div class="container">
            <div class="tab">
              <ul>
                <li id="userSU" [class.color]="idSignup === 'userSU'" (click)="tabChangesignup('userSU')">Users</li>
                <li id="designerSU" [class.color]="idSignup === 'designerSU'" (click)="tabChangesignup('designerSU')">Designers</li>
                <li id="hShopSU" [class.color]="idSignup === 'hShopSU'" (click)="tabChangesignup('hShopSU')">Hardware Shop</li>
              </ul>
            </div>
          </div>

<!-- FOR USERS -->
            <div *ngIf="idSignup ==='userSU'">
              <h2 class="">Create New Account (Users)</h2>
              <p>Create your own Account</p>
               
              <form [formGroup]="userRegGroup" >
                

                  <div>
                    <label for="username">Username<span class="req"> *</span></label>
                    <input type="text" formControlName="userRegUsername" placeholder="Enter Username" required>                                
                  </div> 
                  
                  <div>
                    <label for="email">Email Address<span class="req"> *</span></label>
                    <input type="email" formControlName="userRegEmail" placeholder="Enter Email" required>                 
                  </div>
                  
                  <div>
                    <label for="password">Password<span class="req"> *</span></label>
                    <input type="password" formControlName="userRegPassword" placeholder="Enter Password" required>         
                  </div>

                  <div>
                    <label for="confirm password">Confirm Password<span class="req"> *</span></label>
                    <input type="password" formControlName="userRegConfirmPassword" placeholder="Re-Enter Password" required>
                  </div>

                  <div>
                    <label>Profile Picture (add only images - .png, jpeg, jpg, ...)<span class="req"> *</span></label>
                    <input type="file" class="upload-box" formControlName="userRegProfilePic" placeholder="Enter Profile Picture" required>
                  </div>
                  
                  <div>
                    <label for="telephone">Telephone<span class="req"> *</span></label>
                    <input type="text" formControlName="userRegTelephone" placeholder="Enter Telephone" required>
                  </div>

                  <div>
                    <label for="address">Address<span class="req"> *</span></label>
                    <input type="text" formControlName="userRegAddress" placeholder="Enter Address" required>
                    <input type="text" formControlName="userRegDistrict" placeholder="Enter District" >
                  </div> 

                  <div>
                    <div class="action">
                      <a class="return-store" routerLink="">Return to Store</a>
                    </div>
                    <button class="btn" type="submit" (click)="userRegistration()">Register</button>
                    <button class="btn-reset" type="reset">Reset</button>
                  </div>
              </form>  
              <div id="box1" class="box-shadow1"></div>
            </div>



<!-- FOR PLAN DESIGNERS -->

            <div *ngIf="idSignup ==='designerSU'">
              <h2 class="">Create New Account (Designers)</h2>
              <p>Create your own Account</p>

                  <div>
                    <div>
                      <a class="return-store" routerLink="">Return to Store</a>
                    </div>
                    <button class="btn btn-other-page" type="button" pageScroll href="#downDesignerSU" >Register</button><br/>
                    <button class="btn-reset btn-other-page" type="button" routerLink="">Cancel</button>
                  </div>
            </div>



<!-- FOR HARDWARE SHOP   -->
            <div *ngIf="idSignup ==='hShopSU'">
              <h2 class="">Create New Account (Shops)</h2>
              <p>Create your own Account</p>

              <div>
                <div>
                  <a class="return-store" routerLink="">Return to Store</a>
                </div>
                <button class="btn btn-other-page" type="button" pageScroll href="#downHShopSU">Register</button><br/>
                <button class="btn-reset btn-other-page" type="button" routerLink="">Cancel</button>
              </div>
            </div>
        </div>






















<!-- Login Page -->

          <div class="tabel-data-two">
            <h2 class="heading">- Login -</h2>
            <div class="container">
              <div class="tab">
                <ul>
                  <li id="userL" [class.color]="idLogin === 'userL'" (click)="tabChangelogin('userL')">Users</li>
                  <li id="designerL" [class.color]="idLogin === 'designerL'" (click)="tabChangelogin('designerL')">Designers</li>
                  <li id="hShopL" [class.color]="idLogin === 'hShopL'" (click)="tabChangelogin('hShopL')">Hardware Shop</li>
                </ul>
              </div>
            </div>
  
            
<!-- FOR USERS -->         
            <div *ngIf="idLogin==='userL'">
              <h2 class="">Login (User)</h2>
              <p>Welcome back! Sign in to your account</p>

              <form>
                
                  <div>
                    <label for="userUsername">Email<span class="req"> *</span></label>
                    <input type="email" placeholder="Enter Email"  [(ngModel)]="userLogEmail"  name="userLogEmail" required>
                  </div>
        
                  <div>
                    <label for="userPassword">Password<span class="req"> *</span></label>
                    <input type="password" placeholder="Enter Password" [(ngModel)]="userLogPassword" name="userLogPassword" required>          
                  </div>          
                  
                  <div *ngIf="error">{{error}}</div>

                  <div>
                    <div>
                      <a class="return-store">Return to Store</a>
                    </div>
                    <button class="btn" type="submit" (click)="userLogin()">Login</button>
                    <button class="btn-reset" type="reset">Reset</button>
                  </div>

              </form>
            </div>

<!-- FOR PLAN DESIGNERS -->
 
            <div *ngIf="idLogin==='designerL'">
              <h2 class="">Login (Designers)</h2>
              <p>Welcome back! Sign in to your account</p>

              <form>
                <div>
                  <label>Email<span class="req"> *</span></label>
                  <input type="email" placeholder="Enter Email"  [(ngModel)]="designerLogEmail"  name="designerLogEmail" required>
                </div>
      
                <div>
                  <label>Password<span class="req"> *</span></label>
                  <input type="password" placeholder="Enter Password" [(ngModel)]="designerLogPassword" name="designerLogPassword" required>          
                </div>          
                
                <div *ngIf="error">{{error}}</div>

                <div>
                  <div>
                    <a class="return-store">Return to Store</a>
                  </div>
                  <button class="btn" type="submit" (click)="designerLogin()">Login</button>
                  <button class="btn-reset" type="reset">Reset</button>
                </div>

            </form>
            </div> 



<!-- FOR HARDWARE SHOP -->
 
            <div *ngIf="idLogin==='hShopL'">
              <h2 class="">Login (Shops)</h2>
              <p>Welcome back! Sign in to your account</p>

              <form>
                <div>
                  <label>Email<span class="req"> *</span></label>
                  <input type="email" placeholder="Enter Email"  [(ngModel)]="hShopLogEmail"  name="hShopLogEmail" required>
                </div>
      
                <div>
                  <label>Password<span class="req"> *</span></label>
                  <input type="password" placeholder="Enter Password" [(ngModel)]="hShopLogPassword" name="hShopLogPassword" required>          
                </div>          
                
                <div *ngIf="error">{{error}}</div>

                <div>
                  <div>
                    <a class="return-store">Return to Store</a>
                  </div>
                  <button class="btn" type="submit" (click)="hShopLogin()">Login</button>
                  <button class="btn-reset" type="reset">Reset</button>
                </div>
            </form>
            </div>
          </div>
      </div>
  </div>












<!-- DOWN REGISTRATION FORM - DESIGNERS -->

  <div id="downDesignerSU" *ngIf="idSignup ==='designerSU'" class="down-form-container">
    <div class="down-form-header">
      <h2 class="down-form-header-line"> <span></span> </h2>
      <p>Plant Your Own Plan Designing Account Here...!</p>
    </div>
  
     
    <form [formGroup]="designerRegGroup" >
      <div class="down-form-left">
        <h3 class="down-form-form-section">Personal Information</h3>
          <div>
            <label>Username<span class="req"> *</span></label>
            <input type="text" formControlName="designerRegUsername" placeholder="Enter Username" required>                                
          </div> 
          
          <div>
            <label>Email Address<span class="req"> *</span></label>
            <input type="email" formControlName="designerRegEmail" placeholder="Enter Email" required>                 
          </div>
          
          <div>
            <label>NIC Number<span class="req"> *</span></label>
            <input type="text" formControlName="designerRegNIC" placeholder="Enter NIC Number" required>
          </div>

          <div>
            <label>Password<span class="req"> *</span></label>
            <input type="password" formControlName="designerRegPassword" placeholder="Enter Password" required>         
          </div>

          <div>
            <label>Confirm Password<span class="req"> *</span></label>
            <input type="password" formControlName="designerRegConfirmPassword" placeholder="Re-Enter Password" required>
          </div>

          <div>
            <label>Profile Picture (add only images - .png, jpeg, jpg, ...)<span class="req"> *</span></label>
            <input type="file" class="upload-box" formControlName="designerRegProfilePic" placeholder="Enter Telephone" required>
          </div>

        <h3 class="down-form-form-section">Contact Information</h3>  
          <div>
            <label>Telephone<span class="req"> *</span></label>
            <input type="text" formControlName="designerRegTelephone" placeholder="Enter Telephone" required>
          </div>

          <div>
            <label for="address">Address<span class="req"> *</span></label>
            <input type="text" formControlName="designerRegAddress" placeholder="Enter Address" required>
            <input type="text" formControlName="designerRegDistrict" placeholder="Enter District" >
          </div> 

          <div>
            <button class="btn" type="button" pageScroll href="#downDesignerSUNext1" >Next</button>
          </div>
      </div>

<!-- NEXT -->

      <div id="downDesignerSUNext1" class="down-form-right">
        <h3 class="down-form-form-section">Business Information</h3>
          <div>
            <label>Name of the shop<span class="req"> *</span></label>
            <input type="text" formControlName="designerRegShopName" placeholder="Enter Shop Name" required>                                
          </div> 
          
          <div>
            <label>Description of the shop<span class="req"> *</span></label>
            <input type="text" formControlName="designerRegShopDesc" placeholder="Enter Description" required>                 
          </div>

          <div>
            <label>Email of the shop<span class="req"> *</span></label>
            <input type="email" formControlName="designerRegShopEmail" placeholder="Enter Email" required>                 
          </div>
          
          <div>
            <label>Address<span class="req"> *</span></label>
            <input type="text" formControlName="designerRegShopAddress" placeholder="Enter Address" required>
            <input type="text" formControlName="designerRegShopDistrict" placeholder="Enter District" >
          </div>

          <div>
            <label>Postal Code<span class="req"> *</span></label>
            <input type="text" formControlName="designerRegShopPostalCode" placeholder="Enter Postal Code" required>
          </div>

          <div>
            <label>Digital Location of the shop<span class="req"> *</span></label>
            <input type="text" formControlName="designerRegShopLocation" placeholder="Enter Postal Code" required>
          </div>
 
          <div>
            <label>Telephone<span class="req"> *</span></label>
            <input type="text" formControlName="designerRegShopTelephone" placeholder="Enter Telephone" required>
          </div>

          <div>
            <label>Image for shop identification (add only images - .png, jpeg, jpg, ...)<span class="req"> *</span></label>
            <input type="file" class="upload-box" formControlName="designerRegShopPic" placeholder="Enter Shop Picture" required>
          </div>

          <div>
            <button class="btn" type="button" pageScroll href="#downDesignerSUNext2" >Next</button>
            <button class="btn-reset" type="button" pageScroll href="#downDesignerSU" >Previous</button>
          </div>
      </div>

      <div id="downDesignerSUNext2" class="down-form-center">
        <h3 class="down-form-form-section">Pricing Area(You can choose a convenirnt plan to proceed further!)</h3>
        <div class="down-form-table-container">

<!-- IMPORTED TABLE           -->

      <div id="generic_price_table">   
      <section>

              <div class="container">
                  
                  <!--BLOCK ROW START-->
                  <div class="row">
                    <div class="col-md-4">
                      
                      <div class="gc_1">
                        
                      <!--PRICE CONTENT START-->
                        <div class="generic_content  clearfix">
                            
                         

                          
                            <!--HEAD PRICE DETAIL START-->
                            <div class="generic_head_price clearfix">
                            
                                <!--HEAD CONTENT START-->
                                <div class="generic_head_content clearfix">
                                
                                  <!--HEAD START-->
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Basic</span>
                                    </div>
                                    <!--//HEAD END-->
                                    
                                </div>
                                <!--//HEAD CONTENT END-->
                                
                                <!--PRICE START-->
                                <div class="generic_price_tag clearfix">  
                                    <span class="price">
                                        <span class="sign">$</span>
                                        <span class="currency">299</span>
                                        <span class="cent">.99</span>
                                        <span class="month">/MON</span>
                                    </span>
                                </div>
                                <!--//PRICE END-->
                                
                            </div>                            
                            <!--//HEAD PRICE DETAIL END-->
                            
                            <!--FEATURE LIST START-->
                            <div class="generic_feature_list">
                              <ul>
                                  <li><span>1 Year</span> Hosting time period</li>
                                  <li><span>1 Shop</span> can be maintained</li>
                                  <li><span>Free</span> User guidence</li>
                                  <li><span>Free</span> User support 24/7</li>
                                  <li class="pricing-plan-disable-lines disabled-color"><span class="disabled-text">Online</span> <font class="disabled-text">payment facilities</font> </li>
                                  <li class="pricing-plan-disable-lines disabled-color"><span class="disabled-text">Developer</span> <font class="disabled-text">support</font> </li>
                              </ul>
                            </div>
                            <!--//FEATURE LIST END-->
                            
                            <!--BUTTON START-->
                            <div class="generic_price_btn clearfix">
                              <input type="radio" value="Basic" formControlName="designerRegPricing" name="designerRegPricing"  >
                              <label for="rounded" data-checked="The plan is selected"></label>
                          </div>

                            <!--//BUTTON END-->
                            
                        </div>
                        <!--//PRICE CONTENT END-->
                      
                    </div>
                  </div>

                      <div class="col-md-4">
                        <div class="gc_2">
                      
                        <!--PRICE CONTENT START-->
                          <div class="generic_content clearfix">
                              
                              <!--HEAD PRICE DETAIL START-->
                              <div class="generic_head_price clearfix">
                              
                                  <!--HEAD CONTENT START-->
                                  <div class="generic_head_content clearfix">
                                  
                                    <!--HEAD START-->
                                      <div class="head_bg"></div>
                                      <div class="head">
                                          <span>Startup</span>
                                      </div>
                                      <!--//HEAD END-->
                                      
                                  </div>
                                  <!--//HEAD CONTENT END-->
                                  
                                  <!--PRICE START-->
                                  <div class="generic_price_tag clearfix">  
                                      <span class="price">
                                          <span class="sign">$</span>
                                          <span class="currency">299</span>
                                          <span class="cent">.99</span>
                                          <span class="month">/MON</span>
                                      </span>
                                  </div>
                                  <!--//PRICE END-->
                                  
                              </div>                            
                              <!--//HEAD PRICE DETAIL END-->
                              
                              <!--FEATURE LIST START-->
                              <div class="generic_feature_list">
                                <ul>
                                  <li><span>5 Years</span> Hosting time period</li>
                                  <li><span>2 Shop</span> can be maintained</li>
                                  <li><span>Free</span> User guidence</li>
                                  <li><span>Free</span> User support 24/7</li>
                                  <li class="pricing-plan-disable-lines disabled-color"><span class="disabled-text">Online</span> <font class="disabled-text">payment facilities</font> </li>
                                  <li class="pricing-plan-disable-lines disabled-color"><span class="disabled-text">Developer</span> <font class="disabled-text">support</font> </li>
                                </ul>
                              </div>
                              <!--//FEATURE LIST END-->
                              
                              <!--BUTTON START-->
                              <div class="generic_price_btn clearfix">
                                <input type="radio" value="Startup" formControlName="designerRegPricing" name="designerRegPricing"  >
                                <label for="rounded" data-checked="The plan is selected"></label>
                            </div>
                              <!--//BUTTON END-->
                              
                          </div>
                          <!--//PRICE CONTENT END-->
                      </div> 
                    </div>
                      
                      <div class="col-md-4">
                        <div class="gc_3">
                        <!--PRICE CONTENT START-->
                          <div class="generic_content active clearfix">
                              
                              <!--HEAD PRICE DETAIL START-->
                              <div class="generic_head_price clearfix">
                              
                                  <!--HEAD CONTENT START-->
                                  <div class="generic_head_content clearfix">
                                  
                                    <!--HEAD START-->
                                      <div class="head_bg"></div>
                                      <div class="head">
                                          <span>Standard</span>
                                      </div>
                                      <!--//HEAD END-->
                                      
                                  </div>
                                  <!--//HEAD CONTENT END-->
                                  
                                  <!--PRICE START-->
                                  <div class="generic_price_tag clearfix">  
                                      <span class="price">
                                          <span class="sign">$</span>
                                          <span class="currency">199</span>
                                          <span class="cent">.99</span>
                                          <span class="month">/MON</span>
                                      </span>
                                  </div>
                                  <!--//PRICE END-->
                                  
                              </div>                            
                              <!--//HEAD PRICE DETAIL END-->
                              
                              <!--FEATURE LIST START-->
                              <div class="generic_feature_list">
                                <ul>
                                  <li><span>10 Years</span> Hosting time period</li>
                                  <li><span>5 Shop</span> can be maintained</li>
                                  <li><span>Free</span> User guidence</li>
                                  <li><span>Free</span> User support 24/7</li>
                                  <li><span>Online</span> payment facilities</li>
                                  <li class="pricing-plan-disable-lines disabled-color"><span class="disabled-text">Developer</span> <font class="disabled-text">support</font> </li>
                                </ul>
                              </div>
                              <!--//FEATURE LIST END-->
                              
                              <!--BUTTON START-->
                              <div class="generic_price_btn clearfix">
                                <input type="radio" value="Standard" formControlName="designerRegPricing" name="designerRegPricing"  >
                                <label for="rounded" data-checked="The plan is selected"></label>
                            </div>
                              <!--//BUTTON END-->
                              
                          </div>
                          <!--//PRICE CONTENT END-->
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="gc_4">
                      
                        <!--PRICE CONTENT START-->
                          <div class="generic_content clearfix">
                              
                              <!--HEAD PRICE DETAIL START-->
                              <div class="generic_head_price clearfix">
                              
                                  <!--HEAD CONTENT START-->
                                  <div class="generic_head_content clearfix">
                                  
                                    <!--HEAD START-->
                                      <div class="head_bg"></div>
                                      <div class="head">
                                          <span>Premiem</span>
                                      </div>
                                      <!--//HEAD END-->
                                      
                                  </div>
                                  <!--//HEAD CONTENT END-->
                                  
                                  <!--PRICE START-->
                                  <div class="generic_price_tag clearfix">  
                                      <span class="price">
                                          <span class="sign">$</span>
                                          <span class="currency">299</span>
                                          <span class="cent">.99</span>
                                          <span class="month">/MON</span>
                                      </span>
                                  </div>
                                  <!--//PRICE END-->
                                  
                              </div>                            
                              <!--//HEAD PRICE DETAIL END-->
                              
                              <!--FEATURE LIST START-->
                              <div class="generic_feature_list">
                                <ul>
                                  <li><span>Life time</span> Hosting</li>
                                  <li><span>Unlimited</span> shops</li>
                                  <li><span>Free</span> User guidence</li>
                                  <li><span>Free</span> User support 24/7</li>
                                  <li><span>Online</span> payment facilities</li>
                                  <li><span>Developer</span> support</li>
                                </ul>
                              </div>
                              <!--//FEATURE LIST END-->
                              
                              <!--BUTTON START-->
                              <div class="generic_price_btn clearfix">
                                <input type="radio" value="Premiem" formControlName="designerRegPricing" name="designerRegPricing"  >
                                <label for="rounded" data-checked="The plan is selected"></label>
                            </div>
                              <!--//BUTTON END-->
                              
                          </div>
                          <!--//PRICE CONTENT END-->
                        </div>
                      </div>
                  </div>  
                  <!--//BLOCK ROW END-->


                  
              </div>
          </section>   
          <p>sample text here sample text here sample text here sample text heresample text here sample text here sample text 
            here sample text here sample text here </p>          

<!-- IMPORTED TABLE END -->
      </div>
        </div>
        <div>
          <div>
            <a class="return-store">Return to Store</a>
          </div>
          <button class="btn" type="submit" (click)="designerRegistration()">Register</button>
          <button class="btn-reset" type="reset">Reset</button>
        </div>
      </div>

    </form> 
    <div id="box1" class="box-shadow1"></div>
    <div id="box2" class="box-shadow2"></div>
    <div id="box3" class="box-shadow3"></div>
  </div>


 <!-- DOWN REGISTRATION FORM - SHOPS -->

  <div id="downHShopSU" *ngIf="idSignup ==='hShopSU'" class="down-form-container">
    <div class="down-form-header">
      <h2 class="down-form-header-line"> <span></span> </h2>
      <p>Plant Your Own Hardware Shop Account Here...!</p>
    </div>
  
    <form [formGroup]="hShopRegGroup" >
      <div class="down-form-left">
        <h3 class="down-form-form-section">Personal Information</h3>
          <div>
            <label>Username<span class="req"> *</span></label>
            <input type="text" formControlName="hShopRegUsername" placeholder="Enter Username" required>                                
          </div> 
          
          <div>
            <label>Email Address<span class="req"> *</span></label>
            <input type="email" formControlName="hShopRegEmail" placeholder="Enter Email" required>                 
          </div>
          
          <div>
            <label>NIC Number<span class="req"> *</span></label>
            <input type="text" formControlName="hShopRegNIC" placeholder="Enter NIC Number" required>
          </div>

          <div>
            <label>Password<span class="req"> *</span></label>
            <input type="password" formControlName="hShopRegPassword" placeholder="Enter Password" required>         
          </div>

          <div>
            <label>Confirm Password<span class="req"> *</span></label>
            <input type="password" formControlName="hShopRegConfirmPassword" placeholder="Re-Enter Password" required>
          </div>

          <div>
            <label>profile picture (add only images - .png, jpeg, jpg, ...)<span class="req"> *</span></label>
            <input type="file" class="upload-box" formControlName="hShopRegProfilePic" placeholder="Enter Profile Picture" required>
          </div>

        <h3 class="down-form-form-section">Contact Information</h3>  
          <div>
            <label>Telephone<span class="req"> *</span></label>
            <input type="text" formControlName="hShopRegTelephone" placeholder="Enter Telephone" required>
          </div>

          <div>
            <label for="address">Address<span class="req"> *</span></label>
            <input type="text" formControlName="hShopRegAddress" placeholder="Enter Address" required>
            <input type="text" formControlName="hShopRegDistrict" placeholder="Enter District" >
          </div> 

          <div>
            <button class="btn" type="button" pageScroll href="#downHShopSUNext1" >Next</button>
          </div>
      </div>

<!-- NEXT -->

      <div id="downHShopSUNext1" class="down-form-right">
        <h3 class="down-form-form-section">Business Information</h3>
          <div>
            <label>Name of the shop<span class="req"> *</span></label>
            <input type="text" formControlName="hShopRegShopName" placeholder="Enter Shop Name" required>                                
          </div> 
          
          <div>
            <label>Description of the shop<span class="req"> *</span></label>
            <input type="text" formControlName="hShopRegShopDesc" placeholder="Enter Description" required>                 
          </div>

          <div>
            <label>Email of the shop<span class="req"> *</span></label>
            <input type="email" formControlName="hShopRegShopEmail" placeholder="Enter Email" required>                 
          </div>
          
          <div>
            <label>Address<span class="req"> *</span></label>
            <input type="text" formControlName="hShopRegShopAddress" placeholder="Enter Address" required>
            <input type="text" formControlName="hShopRegShopDistrict" placeholder="Enter District" >
          </div>

          <div>
            <label>Postal Code<span class="req"> *</span></label>
            <input type="text" formControlName="hShopRegShopPostalCode" placeholder="Enter Postal Code" required>
          </div>

          <div>
            <label>Digital Location of the shop<span class="req"> *</span></label>
            <input type="text" formControlName="hShopRegShopLocation" placeholder="Enter Postal Code" required>
          </div>
 
          <div>
            <label>Telephone<span class="req"> *</span></label>
            <input type="text" formControlName="hShopRegShopTelephone" placeholder="Enter Telephone" required>
          </div>

          <div>
            <label>Image for shop identification (add only images - .png, jpeg, jpg, ...)<span class="req"> *</span></label>
            <input type="file" class="upload-box" formControlName="hShopRegShopPic" placeholder="Enter Telephone" required>
          </div>

          <div>
            <button class="btn" type="button" pageScroll href="#downHShopSUNext2" >Next</button>
            <button class="btn-reset" type="button" pageScroll href="#downHShopSU" >Previous</button>
          </div>
      </div>

      <div id="downHShopSUNext2" class="down-form-center">
        <h3 class="down-form-form-section">Pricing Area (You can choose a convenirnt plan to proceed further!)</h3>
        <div class="down-form-table-container">

<!-- IMPORTED TABLE           -->

      <div id="generic_price_table">   
      <section>

              <div class="container">
                  
                  <!--BLOCK ROW START-->
                  <div class="row">
                    <div class="col-md-4">
                      
                      <div class="gc_1">
                        
                      <!--PRICE CONTENT START-->
                        <div class="generic_content  clearfix">
                            
                         

                          
                            <!--HEAD PRICE DETAIL START-->
                            <div class="generic_head_price clearfix">
                            
                                <!--HEAD CONTENT START-->
                                <div class="generic_head_content clearfix">
                                
                                  <!--HEAD START-->
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Basic</span>
                                    </div>
                                    <!--//HEAD END-->
                                    
                                </div>
                                <!--//HEAD CONTENT END-->
                                
                                <!--PRICE START-->
                                <div class="generic_price_tag clearfix">  
                                    <span class="price">
                                        <span class="sign">$</span>
                                        <span class="currency">299</span>
                                        <span class="cent">.99</span>
                                        <span class="month">/MON</span>
                                    </span>
                                </div>
                                <!--//PRICE END-->
                                
                            </div>                            
                            <!--//HEAD PRICE DETAIL END-->
                            
                            <!--FEATURE LIST START-->
                            <div class="generic_feature_list">
                              <ul>
                                  <li><span>1 Year</span> Hosting time period</li>
                                  <li><span>1 Shop</span> can be maintained</li>
                                  <li><span>Free</span> User guidence</li>
                                  <li><span>Free</span> User support 24/7</li>
                                  <li class="pricing-plan-disable-lines disabled-color"><span class="disabled-text">Online</span> <font class="disabled-text">payment facilities</font> </li>
                                  <li class="pricing-plan-disable-lines disabled-color"><span class="disabled-text">Developer</span> <font class="disabled-text">support</font> </li>
                              </ul>
                            </div>
                            <!--//FEATURE LIST END-->
                            
                            <!--BUTTON START-->
                            <div class="generic_price_btn clearfix">
                              <input type="radio" value="Basic" formControlName="hShopRegPricing" name="hShopRegPricing">
                              <label for="rounded" data-checked="The plan is selected"></label>
                          </div>

                            <!--//BUTTON END-->
                            
                        </div>
                        <!--//PRICE CONTENT END-->
                      
                    </div>
                  </div>

                      <div class="col-md-4">
                        <div class="gc_2">
                      
                        <!--PRICE CONTENT START-->
                          <div class="generic_content clearfix">
                              
                              <!--HEAD PRICE DETAIL START-->
                              <div class="generic_head_price clearfix">
                              
                                  <!--HEAD CONTENT START-->
                                  <div class="generic_head_content clearfix">
                                  
                                    <!--HEAD START-->
                                      <div class="head_bg"></div>
                                      <div class="head">
                                          <span>Startup</span>
                                      </div>
                                      <!--//HEAD END-->
                                      
                                  </div>
                                  <!--//HEAD CONTENT END-->
                                  
                                  <!--PRICE START-->
                                  <div class="generic_price_tag clearfix">  
                                      <span class="price">
                                          <span class="sign">$</span>
                                          <span class="currency">299</span>
                                          <span class="cent">.99</span>
                                          <span class="month">/MON</span>
                                      </span>
                                  </div>
                                  <!--//PRICE END-->
                                  
                              </div>                            
                              <!--//HEAD PRICE DETAIL END-->
                              
                              <!--FEATURE LIST START-->
                              <div class="generic_feature_list">
                                <ul>
                                  <li><span>5 Years</span> Hosting time period</li>
                                  <li><span>2 Shop</span> can be maintained</li>
                                  <li><span>Free</span> User guidence</li>
                                  <li><span>Free</span> User support 24/7</li>
                                  <li class="pricing-plan-disable-lines disabled-color"><span class="disabled-text">Online</span> <font class="disabled-text">payment facilities</font> </li>
                                  <li class="pricing-plan-disable-lines disabled-color"><span class="disabled-text">Developer</span> <font class="disabled-text">support</font> </li>
                                </ul>
                              </div>
                              <!--//FEATURE LIST END-->
                              
                              <!--BUTTON START-->
                              <div class="generic_price_btn clearfix">
                                <input type="radio" value="Startup" formControlName="hShopRegPricing" name="hShopRegPricing">
                                <label for="rounded" data-checked="The plan is selected"></label>
                            </div>
                              <!--//BUTTON END-->
                              
                          </div>
                          <!--//PRICE CONTENT END-->
                      </div> 
                    </div>
                      
                      <div class="col-md-4">
                        <div class="gc_3">
                        <!--PRICE CONTENT START-->
                          <div class="generic_content active clearfix">
                              
                              <!--HEAD PRICE DETAIL START-->
                              <div class="generic_head_price clearfix">
                              
                                  <!--HEAD CONTENT START-->
                                  <div class="generic_head_content clearfix">
                                  
                                    <!--HEAD START-->
                                      <div class="head_bg"></div>
                                      <div class="head">
                                          <span>Standard</span>
                                      </div>
                                      <!--//HEAD END-->
                                      
                                  </div>
                                  <!--//HEAD CONTENT END-->
                                  
                                  <!--PRICE START-->
                                  <div class="generic_price_tag clearfix">  
                                      <span class="price">
                                          <span class="sign">$</span>
                                          <span class="currency">199</span>
                                          <span class="cent">.99</span>
                                          <span class="month">/MON</span>
                                      </span>
                                  </div>
                                  <!--//PRICE END-->
                                  
                              </div>                            
                              <!--//HEAD PRICE DETAIL END-->
                              
                              <!--FEATURE LIST START-->
                              <div class="generic_feature_list">
                                <ul>
                                  <li><span>10 Years</span> Hosting time period</li>
                                  <li><span>5 Shop</span> can be maintained</li>
                                  <li><span>Free</span> User guidence</li>
                                  <li><span>Free</span> User support 24/7</li>
                                  <li><span>Online</span> payment facilities</li>
                                  <li class="pricing-plan-disable-lines disabled-color"><span class="disabled-text">Developer</span> <font class="disabled-text">support</font> </li>
                                </ul>
                              </div>
                              <!--//FEATURE LIST END-->
                              
                              <!--BUTTON START-->
                              <div class="generic_price_btn clearfix">
                                <input type="radio" value="Standard" formControlName="hShopRegPricing" name="hShopRegPricing"  >
                                <label for="rounded" data-checked="The plan is selected"></label>
                            </div>
                              <!--//BUTTON END-->
                              
                          </div>
                          <!--//PRICE CONTENT END-->
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="gc_4">
                      
                        <!--PRICE CONTENT START-->
                          <div class="generic_content clearfix">
                              
                              <!--HEAD PRICE DETAIL START-->
                              <div class="generic_head_price clearfix">
                              
                                  <!--HEAD CONTENT START-->
                                  <div class="generic_head_content clearfix">
                                  
                                    <!--HEAD START-->
                                      <div class="head_bg"></div>
                                      <div class="head">
                                          <span>Premiem</span>
                                      </div>
                                      <!--//HEAD END-->
                                      
                                  </div>
                                  <!--//HEAD CONTENT END-->
                                  
                                  <!--PRICE START-->
                                  <div class="generic_price_tag clearfix">  
                                      <span class="price">
                                          <span class="sign">$</span>
                                          <span class="currency">299</span>
                                          <span class="cent">.99</span>
                                          <span class="month">/MON</span>
                                      </span>
                                  </div>
                                  <!--//PRICE END-->
                                  
                              </div>                            
                              <!--//HEAD PRICE DETAIL END-->
                              
                              <!--FEATURE LIST START-->
                              <div class="generic_feature_list">
                                <ul>
                                  <li><span>Life time</span> Hosting</li>
                                  <li><span>Unlimited</span> shops</li>
                                  <li><span>Free</span> User guidence</li>
                                  <li><span>Free</span> User support 24/7</li>
                                  <li><span>Online</span> payment facilities</li>
                                  <li><span>Developer</span> support</li>
                                </ul>
                              </div>
                              <!--//FEATURE LIST END-->
                              
                              <!--BUTTON START-->
                              <div class="generic_price_btn clearfix">
                                <input type="radio" value="Premiem" formControlName="hShopRegPricing" name="hShopRegPricing">
                                <label for="rounded" data-checked="The plan is selected"></label>
                            </div>
                              <!--//BUTTON END-->
                              
                          </div>
                          <!--//PRICE CONTENT END-->
                        </div>
                      </div>
                  </div>  
                  <!--//BLOCK ROW END-->


                  
              </div>
          </section>             
<p>sample text here sample text here sample text here sample text heresample text here sample text here sample text 
  here sample text here sample text here </p>
<!-- IMPORTED TABLE END -->
      </div>
        </div>
        <div>
          <div>
            <a class="return-store">Return to Store</a>
          </div>
          <button class="btn" type="submit" (click)="hShopRegistration()">Register</button>
          <button class="btn-reset" type="reset">Reset</button>
        </div>
      </div>

    </form> 
    <div id="box1" class="box-shadow1"></div>
    <div id="box2" class="box-shadow2"></div>
    <div id="box3" class="box-shadow3"></div>
  </div>
