.container {
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
    padding: 3em 3em 5em 3em; 
    justify-items: center;
    justify-content: center;
    background: white;
    margin: 20px;
    align-items: center;
}
.header-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: white;
    align-items: center;
    width: 100%;
}

.image-section {
    display: flex;
    flex-direction: row;
    padding: 1em 1em 5em 1em; 
    justify-content: space-around;
    background: white;
    margin: 20px;
    align-items: center;
    width: 100%;
   
}
form {
    display: block;
}

.header-section h2 {
    text-align: center;
    color:  #555f66;
    font-weight: 10;
}
.wrapper {
    height: 300px;
    width: 300px;
    margin-bottom: 1em;
    position: relative;
    border: 0 solid rgb(204, 204, 204);
    border-radius: 50%;
    box-shadow: 3px 7px 10px rgba(107, 107, 107, 0.575);
    overflow: hidden;
    display: grid;
    justify-content: space-between;
}

.word-nav{
    color: dimgrey;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 10px;
}

.cardHeader h2{
    font-weight: 600;
    color: #287bff;
}

.profile-picture-on-login-signup {
    vertical-align: middle;
    align-items: center;
    width: 300px;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    box-sizing: border-box;
    justify-content: center; 
    transition-duration: 0.5s;
    transition-delay: 0.5s;
}
.invalid-feedback{
    display: block;
    z-index: 1000;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: .8em;
    color: #dc3545;
}

.req{
    color: rgb(216, 0, 0);
}

.image-types {
    font-size: 15px;
    color: #555f66;
}

.my-file {
    position: absolute;
    bottom: 0;
    outline: none;
    color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 84px;
    cursor: default;
    transition: 0.5s;
    background: rgba(184, 183, 183, 0.247);

}

::-webkit-file-upload-button{
    margin-top: 1em;
    margin-bottom: 1em; 
    top: 0;
    color: rgb(9, 83, 126);
    background: rgb(255, 218, 5);
    border-radius: 30px;
    width: 10em;
    border: rgb(255, 218, 5);
    height: 3em;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    font-weight: 200;
    transition-duration: 0.1s;
    cursor: pointer;
  
  }

.my-file::-webkit-file-upload-button:hover{
    background-color: rgb(9, 83, 126);
    color: #ffffff;
    box-shadow: 3px 3px 5px gray;
    transform: scale(1.05);
}

.my-file:hover{
    background-color: rgba(255, 255, 255, 0.664);
    color: #ffffff;
    box-shadow: 3px 3px 5px gray;
    transform: scale(1.05);
}


.down-form-center{
    display: grid;
    justify-content: start;
    align-items: flex-start;
}

.btn{
    background-color: rgb(255, 218, 5);
    margin-top: 1em;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 5em;
    padding-left: 5em;
    border-radius: 30px;
    height: 3.5em;
    border-style: none;
    font-weight: bold;
    color: #555f66;
    transition-duration: 0.3s;
}

.btn:hover{
    background-color: rgb(9, 83, 126);
    color: #ffffff;
}
