<h1>Select your shop here...</h1>
<hr/>

<div class="items" *ngIf="hShops.length > 0">
  <div *ngFor="let hShop of hShops">
    <section>
      <div class="container">
        <div class="card">
           <img src={{hShop.hShopRegShopPic}} class="profile-picture" alt="{{hShop.hShopRegShopPic}}"> 
           <span class="shop-name">{{hShop.hShopRegShopName}}</span>
           <div class="info-container">
            <button class="btn" (click)="goInnerPage(hShop)">View</button> 
          </div>
        </div>
      </div>
    </section>
  </div>
</div> 