<h1>All Shops</h1>
<hr />


<div *ngIf="hShops.length > 0">
  <div *ngFor="let hShop of hShops">
    <div class="items">
      <span>{{ hShop.hShopRegUsername }}</span>
    </div>
  </div>
</div>

<section class="items">
  <div class="item">
    <h1>pizza</h1>
    <button> Order</button>
  </div>
  <div class="item">
    <h1>pizza</h1>
    <button> Order</button>
  </div>
  <div class="item">
    <h1>pizza</h1>
    <button> Order</button>
  </div>
  <div class="item">
    <h1>pizza</h1>
    <button> Order</button>
  </div>
  <div class="item">
    <h1>pizza</h1>
    <button> Order</button>
  </div>
  <div class="item">
    <h1>pizza</h1>
    <button> Order</button>
  </div>
</section>

