<h1>HOME PAGE</h1>

<!-- 
<div *ngFor="let product of (products | async)">
   
    {{product.name}}
    <p>{{product.description}}</p>
    <p>{{product.id}} - this costs : $ {{product.price}}</p>
    <button>Buy this product {{product.name}}</button>
    <br/><br/><br/><br/>
</div> -->


        <ng-container *ngFor="let product of abc | filter:searchKey:'name'">
            {{product.name}}
            <p>{{product.description}}</p>
            <p>{{product.id}} - this costs : $ {{product.price}}</p>
            <button>Buy this product {{product.name}}</button>
            <br/><br/><br/><br/>
        </ng-container>
