<div class="main-container">
    <div class="table-row">
      <div class="table-data-one">
        
            <h2 class="">Create New Account (Users)</h2>
            <p>Create your own Account</p>
             
            <form  >
              <div>

                <div>
                  <label for="username">Username<span class="req"> *</span></label>
                  <input type="text" formControlName="userRegUsername" placeholder="Enter Username" required>                                
                </div> 
                
                <div>
                  <label for="email">Email Address<span class="req"> *</span></label>
                  <input type="email" formControlName="userRegEmail" placeholder="Enter Email" required>                 
                </div>
                
                <div>
                  <label for="password">Password<span class="req"> *</span></label>
                  <input type="password" formControlName="userRegPassword" placeholder="Enter Password" required>         
                </div>

                <div>
                  <label for="confirm password">Confirm Password<span class="req"> *</span></label>
                  <input type="password" formControlName="userRegConfirmPassword" placeholder="Re-Enter Password" required>
                </div>
                
                <div>
                  <label for="telephone">Telephone<span class="req"> *</span></label>
                  <input type="text" formControlName="userRegTelephone" placeholder="Enter Telephone" required>
                </div>

                <div>
                  <label for="address">Address<span class="req"> *</span></label>
                  <input type="text" formControlName="userRegAddress" placeholder="Enter Address" required>
                  <input type="text" formControlName="userRegDistrict" placeholder="Enter District" >
                </div> 

                <div>
                  <div class="action">
                    <a class="return-store" routerLink="">Return to Store</a>
                  </div>
                  <button class="btn" type="submit">Register</button>
                  <button class="btn-reset" type="reset">Reset</button>
                </div>
              </div>
            </form>  
            </div>
        </div>
    </div>