<div *ngIf="designer">
    <div class="main-container"> 
        <div class="container">
            <div class="navigation">
                <ul>
                    <li>
                        <a>
                            <span class="icon"><img src="assets/image/apple.png" alt=""></span>
                            <span class="title">{{designer.designerRegShopName}} <font class="shop-mail">({{designer.designerRegShopEmail}})</font></span><br>
                        </a>
                    </li>
                    <li class="hoveredItem h" (click)="callActivating('dashboard',designer)">
                        <a>
                            <span class="icon"><img src="assets/image/dashboard.png" alt=""></span>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>
                     <li class="hoveredItem" (click)="callActivating('updatedata',designer)">
                         <!-- routerLink="/auth/designersignup/edit/{{designer._id}}" -->
                        <a>
                            <span class="icon"><img src="assets/image/help.png" alt=""></span>
                            <span class="title">Update User Data</span>
                        </a>
                    </li>
                    <li class="hoveredItem" (click)="callActivating('updateimages',designer)">
                        <a>
                            <span class="icon"><img src="assets/image/setting.png" alt=""></span>
                            <span class="title">Update Images</span>
                        </a>
                    </li>
                    <li class="hoveredItem" (click)="callActivating('changepass',designer)">
                        <a>
                            <span class="icon"><img src="assets/image/password.png" alt=""></span>
                            <span class="title">Change Password</span>
                        </a>
                    </li>
                    <li class="hoveredItem" (click)="callActivating('logout',designer)"> <!-- (click)="logout()" -->
                        <a>
                            <span class="icon"><img src="assets/image/logout.png" alt=""></span>
                            <span class="title">Log Out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    <!-- main -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <img (click)="callToggling()" src="assets/image/side-bar-toggle.png">
                    <!-- <button (click)="callFunc()">toggle</button> -->
                </div>
                <div class="userName">
                    <label>
                        Welcome {{designer.designerRegUsername | titlecase}}!
                    </label>
                </div>
                <div class="user">
                    <img src="{{designer.designerRegShopPic}}">
                </div>
            </div>
    <!-- cared -->
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">1, 504</div>
                        <div class="cardName">Daily Vies</div>
                    </div>
                    <div class="iconBx">
                        <img src="assets/image/eye.png" alt="" class="eye-outline">
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">80</div>
                        <div class="cardName">sales</div>
                    </div>
                    <div class="iconBx">
                        <img src="assets/image/sales.png" alt="" class="eye-outline">
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">253</div>
                        <div class="cardName">Comments</div>
                    </div>
                    <div class="iconBx">
                        <img src="assets/image/comments.png" alt="" class="eye-outline">
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">$560</div>
                        <div class="cardName">Earning</div>
                    </div>
                    <div class="iconBx">
                        <img src="assets/image/earnings.png" alt="" class="eye-outline">
                    </div>
                </div>
            </div>


           
            <div  *ngIf="compPath=='dashboard'">
                <app-dashboard-designer ></app-dashboard-designer> 
            </div>
            <div *ngIf="compPath=='updatedata'">
                <app-edit-designer [designer]="Designer"></app-edit-designer>
            </div>
            <div *ngIf="compPath=='updateimages'">
                <app-image-edit-designer [designer]="Designer"></app-image-edit-designer>
            </div>
            <div *ngIf="compPath=='logout'">
                <app-logout-popup (event)="receivePath($event)"></app-logout-popup>
            </div>

        </div>      
    </div>
</div>
